<div *ngIf="isOpen$ | async" (click)="close()" class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50">
  <div (click)="$event.stopPropagation()" class="bg-white rounded-lg shadow-lg p-6 w-full max-w-md z-60">
    <ng-container *ngIf="modalData$ | async as data">
      <p class="text-xl font-bold mb-2">{{ data.title }}</p>
      <p class="mb-4">{{ data.message }}</p>
    </ng-container>

    <button
    aplzButton
    aplzAppearance="stroked"
    aplzColor="dark"
    size="md"
    type="submit"
    class="w-full"
    (click)="close()"
  >
    Cerrar
  </button>
  </div>
</div>
